* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #0067fe;
  color: #fff;
  padding: 10px 0;
  font-size: 25px;
}

header p {
  margin: 0;
}

.wrapper {
  max-width: 900px;
}